h1 {
font-size:50px;
margin-left: 25%;
margin-top: 7%;
float: center;
color:#6b865c;
line-height:30px;
letter-spacing:7px;
font-family:arial;
text-align:justify;
}

a {
	font-family: arial;
	line-height: 90px;
	position: relative;
		opacity: .90;
color:#6b865c;
transition: .3s;
text-decoration: none;
}

img.center {
display: block;
margin-left: center;
margin-right: center;
}
img {
    border: 7px solid yellow;
	width: 500px;
	height: 300px;

}