
h1 {
font-size:15px;
margin-left:25%;;
float: center;
color:#6b865c;
line-height:40px;
letter-spacing:3px;
font-family:arial;
text-align:justify;
padding-left: 30%;
}

h2 { 
	float: center;
font-size:22px;
color:#6b865c;
line-height:53px;
letter-spacing:4px;
width: 800px;
  padding: 20px;
font-family:arial;
text-align:justify;
}

a {

color:#fa72b3;;
line-height:23px;
letter-spacing:4px;
font-family:arial;
text-align:justify;
}

img.center {
float: center;

}