

body { 

float: center;
font-size:16px;
color:#fa72b3;
line-height:40px;
letter-spacing:4px;
width: 600px;
padding: 80px;
font-family:arial;
text-align:justify;
}

a {

color:#fa72b3;;
\

}

footer { 
  display: block;
  font-size: 9px;
  padding-bottom: 10px;
}
